@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  line-height: 140%;
  font-family: "Archivo", sans-serif;
}

body {
  background-color: #FAF8FF;
  will-change: scroll-position;
}
h1 {
  line-height: 120%;
}
section {
  background-color: #FAF8FF;
}
.button {
  border: 1px solid;
  border-color: #000212;
  background-color: transparent;
  color: #000212;
  padding: 10px 20px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  section {
    padding-left: 80px;
    padding-right: 80px;
  }
  .container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
}
@media screen and (max-width: 1023px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
}